<nav class="navbar">
  <div class="d-flex flex-row align-items-center gap-2">
    <img src="../../../assets/images/logo.png" alt="logo" width="50" />
    <h3>Petopia</h3>
  </div>
  <div class="d-flex flex-row align-items-center gap-4">
    <div *ngFor="let page of pages">
      <a
        class="textLink"
        [ngClass]="{ isSelected: page.name === selectedItem }"
        (click)="selectedItem = page.name"
        routerLink="{{ page.link }}"
        routerLinkActive="active"
        >{{ page.name }}</a
      >
    </div>
  </div>
  <div class="d-flex align-items-center gap-3">
    <div *ngFor="let item of list">
      <i class="{{ item.icon }} d-flex align-items-center icon fs-5">
        <span
          class="p-1 translate-middle badge rounded-circle bg-danger"
          style="font-size: 5px"
        >
          <span class="visually-hidden"></span>
        </span>
      </i>
    </div>
    <img
      src="../../../assets/images/profile.png"
      alt="profile"
      class="rounded-circle"
      width="40"
    />
  </div>
</nav>
